//project variables

//fonts
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans|PT+Serif&display=swap');
$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'PT Serif', serif;
$logo_font: 'Bitter', serif;

//colors
$primary_color: #41b883;
$secondary_color: #35495e;
$white: #fff;
$grey1: #ccc;
$grey2: #a9a9a9;
$grey3: #343434;